body {

    margin: 0;
    padding: 0;


}

#Page {

    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(560px, 1fr) 1fr;
    grid-template-rows: 100vh;

}

#HeaderImage {

    background-color: white;
    background-size: contain; /* Resize the background image to cover the entire container */
    
    background-position: center bottom; /* Center the image */
    background-repeat: no-repeat;


    background-image: url("./ProfilePhoto.png");

}

#Profile {

    background-color: #1B95EE;

}

