body {

    margin: 0;
    padding: 0;


}

#Page {

    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: minmax(560px, 1fr) 1fr;
    grid-template-rows: 100vh;

}

#Header {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto 85vh;
    background-color: white;

}

#HeaderImage {

    background-image: url("./ProfilePhoto.png");
    background-size: contain; /* Resize the background image to cover the entire container */
    background-repeat: no-repeat;
    background-position: center bottom; /* Center the image */
    
}

#Profile {

    background-color: #1B95EE;

}

